.task-list {
    display: flex;
}

.task-tile {
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

    margin: 5px;
    padding: 5px;

    cursor: pointer;
}