body {
    background-color: gray;
}

.title {
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 5px;
}

.title * {
    margin-left: 5px;
}

.task-list {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.task-tile {
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

    margin: 5px;
    padding: 5px;

    cursor: pointer;

    width: 150px;
    height: 150px;

    text-align: center;
    color: #343a40;
    background-color: white;
}

.task-tile p:not(:first-child) {
    color: gray;
    font-size: small;
}

.form {
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

    padding: 15px;
    margin: 50px;
    background-color: white;
}

.input {
    width: 100%;
}

.submit {
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

    padding: 5px;

    cursor: pointer;

    font-weight: bold;
    background-color: #dc3545;
    color: white;
}